In [1]:
# La oss lage et enkelt program
my_sentence = "Her er det lov å skrive norsk, for dette skal ut til skjermen!"
print(my_sentence)

# La oss skrive en ny setning
sentence = "Jeg heter Ola Nordmann"
print(sentence)

Her er det lov å skrive norsk, for dette skal ut til skjermen!
Jeg heter Ola Nordmann

In [2]:
# Her er det flere, ulike variabler

# Heltall
variable_a = 1

# Desimaltall
variable_b = 2.5678

# Sant/usant
variable_c = True

# Tekst
variable_d = "Hello, World!"

In [3]:
# Eksempel på bool-variabel
apple_is_tasty = True
type(apple_is_tasty)

bool

In [4]:
# Printer verdien til 'apple_is_tasty'
print(apple_is_tasty)

True

In [5]:
# Heltall/integer eksempel

number_of_apples = 8
type(number_of_apples)

int

In [6]:
# Gjøre om variabletype
type(int(apple_is_tasty))

int

In [7]:
number = 8.00
print(f'{number} er av typen {type(number)}')

# Nå gjør vi om 'number'
number_two = int(number)
print(f'{number_two} er av typen {type(number_two)}')

8.0 er av typen <class 'float'>
8 er av typen <class 'int'>

In [8]:
type(bool(0))

bool

In [9]:
20*False

0

In [10]:
20*True

20

In [11]:
# Floating point (float), altså desimaltall

apple_price = 11.0
type(apple_price)

float

In [12]:
apple_price = 11
type(apple_price)

int

In [13]:
insane_apple_price = 1.02e+2
print(insane_apple_price)

102.0

In [14]:
really_cheap_apple_price = 1.02e-2
print(really_cheap_apple_price)

0.0102

In [15]:
total = apple_price*number_of_apples
print(total)

88

In [16]:
number_of_persons = 5
apple_per_person  = number_of_apples/number_of_persons
print(apple_per_person)

1.6

In [17]:
5/5

1.0

In [18]:
print(2+3)
print(2-3)
print(2*3)
print(2/3)

5
-1
6
0.6666666666666666

In [19]:
2**3

8

In [20]:
# string:
x = "Dette er en streng (dvs tekst)"
type(x)

str

In [21]:
print(f"Det er {apple_is_tasty} at jeg synes epler smaker godt.")

Det er True at jeg synes epler smaker godt.

In [22]:
"Jeg "+"gikk "+"derfor "+"på "+"butikken "+"for "+"å "+"kjøpe"

'Jeg gikk derfor på butikken for å kjøpe'

In [23]:
"Jeg gikk derfor på butikken for å kjøpe " + number_of_apples + " epler. "

TypeError: can only concatenate str (not "int") to str

In [24]:
"Jeg gikk derfor på butikken for å kjøpe " + str(number_of_apples) + " epler."

'Jeg gikk derfor på butikken for å kjøpe 8 epler.'

In [25]:
print(
    f"Det er {apple_is_tasty} at jeg synes epler smaker godt. \n"
    f"Jeg gikk derfor på butikken for å kjøpe {number_of_apples} epler. \n"
    f"Innehaveren gav meg en vanvittig pris. Hun skulle ha {insane_apple_price} kroner per eple. \n"
    f"Jeg fortalte henne at det var helt uaktuelt, og foreslo {really_cheap_apple_price} kroner. \n"
    f"Hun avslo, men vi ble til sist enig om {apple_price} kroner.\n"
    f"Jeg betalte hennet til sammen {apple_price*number_of_apples} kroner og dro hjem. \n\n"
    f"På veien traff jeg {number_of_persons} venner. Jeg hadde ikke noe annet valg enn å dele eplene mine med dem. \n"
    f"Det ble {number_of_apples/number_of_persons} epler per person.\n"
)

Det er True at jeg synes epler smaker godt.
Jeg gikk derfor på butikken for å kjøpe 8 epler.
Innehaveren gav meg en vanvittig pris. Hun skulle ha 102.0 kroner per eple.
Jeg fortalte henne at det var helt uaktuelt, og foreslo 0.0102 kroner.
Hun avslo, men vi ble til sist enig om 11 kroner.
Jeg betalte hennet til sammen 88 kroner og dro hjem.

På veien traff jeg 5 venner. Jeg hadde ikke noe annet valg enn å dele eplene mine med dem.
Det ble 1.6 epler per person.

In [26]:
print( "Jeg gikk derfor på butikken for å 'kjøpe' epler.")
print( 'Jeg gikk derfor på butikken for å "kjøpe" epler.')

Jeg gikk derfor på butikken for å 'kjøpe' epler.
Jeg gikk derfor på butikken for å "kjøpe" epler.

In [27]:
s=f"""Det er {apple_is_tasty} at jeg synes epler smaker godt.
Jeg gikk derfor på butikken for å kjøpe {number_of_apples} epler.
Innehaveren gav meg en vanvittig pris. Hun skulle ha {insane_apple_price} kroner per eple.
Jeg fortalte henne at det var helt uaktuelt, og foreslo {really_cheap_apple_price} kroner.
Hun avslo, men vi ble til sist enige om {apple_price} kroner.
Jeg betalte hennet til sammen {apple_price*number_of_apples} kroner og dro hjem.

På veien traff jeg {number_of_persons} venner. Jeg hadde ikke noe annet valg enn å dele eplene mine med dem.
Det ble {number_of_apples/number_of_persons} epler per person."""
print(s)

Det er True at jeg synes epler smaker godt.
Jeg gikk derfor på butikken for å kjøpe 8 epler.
Innehaveren gav meg en vanvittig pris. Hun skulle ha 102.0 kroner per eple.
Jeg fortalte henne at det var helt uaktuelt, og foreslo 0.0102 kroner.
Hun avslo, men vi ble til sist enige om 11 kroner.
Jeg betalte hennet til sammen 88 kroner og dro hjem.

På veien traff jeg 5 venner. Jeg hadde ikke noe annet valg enn å dele eplene mine med dem.
Det ble 1.6 epler per person.

In [28]:
print(
    f"Det er {apple_is_tasty} at jeg synes epler smaker godt. "
    f"Jeg gikk derfor på butikken for å kjøpe {number_of_apples} epler. "
    f"Innehaveren gav meg en vanvittig pris. Hun skulle ha {insane_apple_price} kroner per eple. "
    f"Jeg fortalte henne at det var helt uaktuelt, og foreslo {really_cheap_apple_price} kroner. "
    f"Hun avslo, men vi ble til sist enig om {apple_price} kroner. "
    f"Jeg betalte hennet til sammen {apple_price*number_of_apples} kroner og dro hjem. "
    f"På veien traff jeg {number_of_persons} venner. Jeg hadde ikke noe annet valg enn å dele eplene mine med dem. "
    f"Det ble {number_of_apples/number_of_persons} epler per person."
)

Det er True at jeg synes epler smaker godt. Jeg gikk derfor på butikken for å kjøpe 8 epler. Innehaveren gav meg en vanvittig pris. Hun skulle ha 102.0 kroner per eple. Jeg fortalte henne at det var helt uaktuelt, og foreslo 0.0102 kroner. Hun avslo, men vi ble til sist enig om 11 kroner. Jeg betalte hennet til sammen 88 kroner og dro hjem. På veien traff jeg 5 venner. Jeg hadde ikke noe annet valg enn å dele eplene mine med dem. Det ble 1.6 epler per person.

In [29]:
## Her kan man gjøre akkurat det samme men fjerne variablene, og sette inn dine nye.

# Definerer variabler
navn = "Ola"
sted = "parken"
antall_venner = 3
aktivitet = "spilte fotball"
værtype = "solfylt"
snack = "is"
pris_per_is = 25
totalpris = antall_venner * pris_per_is

# Skriver ut historien med variablene, hvor vi bruker \n for linjeskift
print(
    f"En dag dro {navn} til {sted} fordi det var en {værtype} dag.\n"
    f"Sammen med {antall_venner} venner {aktivitet} de i flere timer.\n"
    f"Etterpå ble de sultne og bestemte seg for å kjøpe {snack}.\n"
    f"Hver {snack} kostet {pris_per_is} kroner, så til sammen betalte de {totalpris} kroner.\n"
    f"Det var en flott dag i {sted}!"
)

En dag dro Ola til parken fordi det var en solfylt dag.
Sammen med 3 venner spilte fotball de i flere timer.
Etterpå ble de sultne og bestemte seg for å kjøpe is.
Hver is kostet 25 kroner, så til sammen betalte de 75 kroner.
Det var en flott dag i parken!

In [30]:
# Gyldige kombinasjoner

# Tall
print(5 * 2)      # 10  (int * int)
print(5.0 * 2)    # 10.0  (float * int)
print(5 * 2.0)    # 10.0  (int * float)

# Streng
print("hei" * 2)  # "heihei"
print("abc" * 3)  # "abcabcabc"

# Boolean
print(True * 2)   # 2  (True tolkes som 1)
print(False * 5)  # 0  (False tolkes som 0)

10
10.0
10.0
heihei
abcabcabc
2
0

In [31]:
# Ugyldige kombinasjoner
print("hei" * 2.0)

TypeError: can't multiply sequence by non-int of type 'float'

In [32]:
# Gyldige operasjoner med tall
print(5 + 3)      # 8  (int + int)
print(4.5 + 2.5)  # 7.0  (float + float)
print(10 + 2.3)   # 12.3  (int + float)

# Gyldige operasjoner med tekst
print("Hei, " + "verden!")  # "Hei, verden!"
navn = "Ola"
print("Hei, " + navn)  # "Hei, Ola"

# Kan også så slammen lister (men det skal vi ser mer på senere)
print([1, 2, 3] + [4, 5, 6])  # [1, 2, 3, 4, 5, 6]

8
7.0
12.3
Hei, verden!
Hei, Ola
[1, 2, 3, 4, 5, 6]

In [33]:
# Ugyldig bruk av +
print("Alder: " + 25)

TypeError: can only concatenate str (not "int") to str

In [34]:
# Gyldige operasjoner
print(10 / 2)  # 5.0 (int / int gir float)
print(9.0 / 2.0)  # 4.5
print(10 / 3)     # 3.3333333333333335
print(10 / True)   # 10.0 (10 / 1)

5.0
4.5
3.3333333333333335
10.0

In [35]:
# Ugyldige operasjoner
print(5.0 / False) # ❌ Feil: Division by zero!

ZeroDivisionError: float division by zero

In [36]:
print("Hei" / 2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [37]:
print(10 / 0)  # ❌ Feil

ZeroDivisionError: division by zero

In [38]:
# Gyldige operasjoner

# Vanlig subtraksjon
print(10 - 5)  # 5
print(7.5 - 2.2)  # 5.3

# Husk at True = 1 og False = 0
print(10 - True)   # 9 (10 - 1)
print(5.5 - False) # 5.5 (5.5 - 0)

# Kan gjøre om negative tall til positive, og omvendt
print(-10)   # -10
print(-(-5)) # 5

5
5.3
9
5.5
-10
5

In [39]:
# Ugyldig
print("Hei" - "H")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [40]:
# Dette er ved hjelp av en løkke, for å se største verdi ved å doble tallet 1, doble det igjen, og igjen og igjen så langt det går før det blir inf ("uendelig" for PC/MAC-en).

x = 1.0
while x * 2 != float("inf"):  # Så lenge det ikke blir "inf", fortsett å doble
    x *= 2

print(x)  # Siste gyldige verdi før "inf"

8.98846567431158e+307

In [41]:
# Kjører dere denne kodeblokken ser dere den høyeste verdien vi kan ha i python.
import sys
print(sys.float_info.max)

1.7976931348623157e+308

In [42]:
x = 1.0  
while x / 2 > 0:  # Så lenge verdien ikke blir 0.0, fortsett å halvere
    x /= 2  

print(x)  # Siste gyldige verdi før den blir 0.0

5e-324

In [43]:
# Konvertere boolsk verdi til heltall
bool_verdi = True
heltall = int(bool_verdi)  # Dette gir 1
heltall

1

In [44]:
heltall = 42
streng = str(heltall)  # Dette gir '42'
streng

'42'

In [45]:
flyttall = 3.14
heltall = int(flyttall)  # Dette gir 3

In [46]:
# Eksempel
navn = "Alice"
alder = 25
melding = f"Hei, jeg heter {navn} og jeg er {alder} år gammel."
print(melding)
# Output: Hei, jeg heter Alice og jeg er 25 år gammel.

Hei, jeg heter Alice og jeg er 25 år gammel.

In [47]:
x = 3.14  # 3.14
y = 0.1   # 0.1

In [48]:
a = 1e-2  # 1 * 10^-2, som er 0.01
b = 2e+2  # 2 * 10^2, som er 200

In [49]:
print(0.1 + 0.2)

# Se på output av denne kodeblokken!

0.30000000000000004

In [50]:
print(round(0.1 + 0.2, 2)) # Runder av til 0.3

0.3

In [51]:
resultat = 10 ** 2
print(resultat)  # Output: 100

100

In [52]:
resultat = 10 ** -2
print(resultat)

0.01

In [53]:
resultat = 10e+2 # Det samme som 10 x 10^2
print(resultat)

1000.0

Hei, jeg heter John, jeg er 30 år gammel, og jeg bor i Oslo.

Summen av 10 og 2 er: 12
Differansen mellom 10 og 2 er: 8
Produktet av 10 og 2 er: 20
Forholdet av 10 og 2 er: 5.0
10 hevet til 2 er: 100

15 er et oddetall.

In [54]:
# Definerer variablene
var_type = float  # Eksempel: ønsket datatype er float
x = "123.45"  # Eksempel: verdien er en streng

Før konvertering: type(x) = <class 'str'>, verdi(x) = 123.45
Etter konvertering: type(x) = <class 'float'>, verdi(x) = 123.45